<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Z.Каталог - Ноутбуки</title>
<link href="style.css" rel="stylesheet">


</head>


<body>
<header>
	<img src="img/оформление/второй.jpg" alt="">
</header>
<nav>
	<a href="index.html">О НАС</a>
	<a href="clothing.html">НОУТБУКИ</a>
	<a href="обувь.html">ТЕЛЕФОНЫ</a>
	<a href="цацки.html">ТЕЛЕВИЗОРЫ</a>
	
	<a href="факва.html">АКСЕССУАРЫ</a>
</nav>
<main>
	

<div>
	
	
	<a href="свиты.html"><img class="img" src="img/разделы/асер.jpg"/></a>
	<a href="штаны.html"><img class="img" src="img/разделы/асус.jpg"/></a>
	<a href="футболки.html"><img class="img" src="img/разделы/маки.jpg"/></a>
	<a href="худаки.html"><img class="img" src="img/разделы/леново.jpg"/></a>
	<a href="шорты.html"><img class="img" src="img/разделы/хуавей.jpg"/></a>
	<a href="куртки.html"><img class="img" src="img/разделы/ксяоми.jpg"/></a>
</div>



</main>

<footer>
<nav>
	<a href="покупателям.html">Пользователям</a>
	<a href="возрат.html">FAQ</a>
	<a href="способыдоставки.html">Помощь</a>

</nav>
<p id="fp">&copy; Z-Каталог-...</p>
</footer>

<script src="js-21.js"> </script>


</body>

</html>
