<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Z.Каталог - О нас</title>
<link href="static/style.css" rel="stylesheet">


</head>


<body>
<header>
	<img src="img/оформление/второй.jpg" alt="">
</header>
<nav>
	<a href="/about">О НАС</a>
	<a href="/laptops">НОУТБУКИ</a>
	<a href="/phones">ТЕЛЕФОНЫ</a>
	<a href="/TVs">ТЕЛЕВИЗОРЫ</a>
	<a href="/acs">АКСЕССУАРЫ</a>
</nav>
<main>
<h1><p>
Z-Каталог - это сервис подбора электронных товаров по самым низким ценам! Нужно сравнить, где гаджет одной и той же модели дешевле? Все просто, мы предоставим Вам данную возможность!Z-Каталог - это сервис подбора электронных товаров по самым низким ценам! Нужно сравнить, где гаджет одной и той же модели дешевле? Все просто, мы предоставим Вам данную возможность!Z-Каталог - это сервис подбора электронных товаров по самым низким ценам! Нужно сравнить, где гаджет одной и той же модели дешевле? Все просто, мы предоставим Вам данную возможность!Z-Каталог - это сервис подбора электронных товаров по самым низким ценам! Нужно сравнить, где гаджет одной и той же модели дешевле? Все просто, мы предоставим Вам данную возможность!</p> </h1>


<img src=img/оформление/macc.gif>
<h1><p>Z-Каталог - это сервис подбора электронных товаров по самым низким ценам! Нужно сравнить, где гаджет одной и той же модели дешевле? Все просто, мы предоставим Вам данную возможность!Z-Каталог - это сервис подбора электронных товаров по самым низким ценам! Нужно сравнить, где гаджет одной и той же модели дешевле? Все просто, мы предоставим Вам данную возможность!Z-Каталог - это сервис подбора электронных товаров по самым низким ценам! Нужно сравнить, где гаджет одной и той же модели дешевле? Все просто, мы предоставим Вам данную возможность!Z-Каталог - это сервис подбора электронных товаров по самым низким ценам! Нужно сравнить, где гаджет одной и той же модели дешевле? Все просто, мы предоставим Вам данную возможность! </p> </h1>
</main>



<footer>
<nav>
	<a href="покупателям.html">Пользователям</a>
	<a href="возрат.html">FAQ</a>
	<a href="способыдоставки.html">Помощь</a>

</nav>
<p id="fp">&copy; Z-Каталог-...</p>
</footer>

<script src="js-21.js"> </script>


</body>

</html>
