<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Z.Каталог - О нас</title>
<link href="static/style.css" rel="stylesheet">


</head>


<body>
<header>
	<img src="static/head.jpg" alt="">
</header>
<nav>
	<a href="/">О НАС</a>
	<a href="/laptops">НОУТБУКИ</a>
	<a href="/phones">ТЕЛЕФОНЫ</a>
	<a href="/TVs">ТЕЛЕВИЗОРЫ</a>
</nav>
<main>
    <h1>
    Ссылка на гитхаб проекта
    </h1>
    <a href="https://github.com/timorez/Zkatalog">Zkatalog</a>
<img src=static/home_page.gif>
</main>



<footer>
<nav>
	<a href="/info">Авторы</a>

</nav>
<p id="fp">&copy; Z-Каталог-...</p>
</footer>

<script src="js-21.js"> </script>


</body>

</html>
