<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Z.Каталог - Ноутбуки</title>
<link href="style.css" rel="stylesheet">


</head>


<body>
<header>
  <img src="img/оформление/второй.jpg" alt="">
</header>
<nav>
  <a href="index.html">О НАС</a>
  <a href="clothing.html">НОУТБУКИ</a>
  <a href="обувь.html">ТЕЛЕФОНЫ</a>
  <a href="цацки.html">ТЕЛЕВИЗОРЫ</a>
  
  <a href="факва.html">АКСЕССУАРЫ</a>
</nav>
<main>
  
<div class="product-wrap">
  <div class="product-item">
    <img src="img/асус/vivo15.png">
    <div class="product-buttons">
      <a href="" class="button">СРАВНИТЬ</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">название</a>
    <span class="product-price">характеристика</span>
  </div>
</div>
<div class="product-wrap">
  <div class="product-item">
    <img src="img/асус/в1.png">
    <div class="product-buttons">
      <a href="" class="button">СРАВНИТЬ</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">название</a>
    <span class="product-price">характеристика</span>
  </div>
</div>
<div class="product-wrap">
  <div class="product-item">
    <img src="img/асус/лэптоп.png">
    <div class="product-buttons">
      <a href="" class="button">СРАВНИТЬ</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">название</a>
    <span class="product-price">характеристика</span>
  </div>
</div>
</main>