<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Z.Каталог - Ноутбуки</title>
<link href="static/style.css" rel="stylesheet">


</head>


<body>
<header>
  <img src="img/оформление/второй.jpg" alt="">
</header>
<nav>
  <a href="/about">О НАС</a>
	<a href="/laptops">НОУТБУКИ</a>
	<a href="/phones">ТЕЛЕФОНЫ</a>
	<a href="/TVs">ТЕЛЕВИЗОРЫ</a>
</nav>
<main>
  
<div class="product-wrap">
  <div class="product-item">
    <img src={{ url_one }}>
    <div class="product-buttons">
      <a href="" class="button">СРАВНИТЬ</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">{{ name_one }}</a>
    <span class="product-price">{{ price_one }}</span>
  </div>
</div>
<div class="product-wrap">
  <div class="product-item">
    <img src={{ url_two }}>
    <div class="product-buttons">
      <a href="" class="button">СРАВНИТЬ</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">{{ name_two }}</a>
    <span class="product-price">{{ price_two }}</span>
  </div>
</div>
<div class="product-wrap">
  <div class="product-item">
    <img src={{ url_three }}>
    <div class="product-buttons">
      <a href="" class="button">СРАВНИТЬ</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">{{ name_three }}</a>
    <span class="product-price">{{ price_three }}</span>
  </div>
</div>
</main>