<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Z.Каталог - Ноутбуки</title>
<link href="static/style.css" rel="stylesheet">


</head>


<body>
<header>
  <img src="static/head.jpg" alt="">
</header>
<nav>
    <a href="/">О НАС</a>
	<a href="/laptops">НОУТБУКИ</a>
	<a href="/phones">ТЕЛЕФОНЫ</a>
	<a href="/TVs">ТЕЛЕВИЗОРЫ</a>
</nav>
<main>
  
<div class="product-wrap">
  <div class="product-item">
    <img src={{ url_one }}>
    <div class="product-buttons">
    </div>
  </div>
  <div class="product-title">
    <a href="/good_one">{{ name_one }}</a>
  </div>
</div>
<div class="product-wrap">
  <div class="product-item">
    <img src={{ url_two }}>
    <div class="product-buttons">
    </div>
  </div>
  <div class="product-title">
    <a href="/good_two">{{ name_two }}</a>
  </div>
</div>
<div class="product-wrap">
  <div class="product-item">
    <img src={{ url_three }}>
    <div class="product-buttons">
    </div>
  </div>
  <div class="product-title">
    <a href="/good_three">{{ name_three }}</a>
  </div>
</div>
</main>