<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>DRILLCITYRUS - О нас</title>
<link href="style.css" rel="stylesheet">


</head>


<body>
<header>
	<img src="img/оформление/header.jpg" alt="">
</header>
<nav>
	
	<a href="index.html">О НАС</a>

	<a href="clothing.html">ОДЕЖДА</a>
	<a href="обувь.html">ОБУВЬ</a>
	<a href="цацки.html">АКСЕССУАРЫ</a>
	<a href="оплатаидоставка.html">ОПЛАТА И ДОСТАВКА</a>
	<a href="факва.html">FAQ</a>
</nav>
<main>
	
<div class="product-wrap">
  <div class="product-item">
    <img src="img/шорты/1.jpg">
    <div class="product-buttons">
      <a href="" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Черные шорты Nike</a>
    <span class="product-price">₽ 3999</span>
  </div>
</div>
<div class="product-wrap">
  <div class="product-item">
    <img src="img/шорты/вторые.jpg">
    <div class="product-buttons">
      <a href="" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Черные шорты Nike</a>
    <span class="product-price">₽ 3999</span>
  </div>
</div>
<div class="product-wrap">
  <div class="product-item">
    <img src="img/шорты/3.jpg">
    <div class="product-buttons">
      <a href="" class="button">В корзину</a>
    </div>
  </div>
  <div class="product-title">
    <a href="">Черные шорты Nike Jordan</a>
    <span class="product-price">₽ 4499</span>
  </div>
</div>












</main>

<footer>
<nav>
	<a href="покупателям.html">Покупателям</a>
	<a href="возрат.html">Возрат заказа</a>
	<a href="способыдоставки.html">Способы доставки</a>
	<a href="способыоплаты.html">Способы оплаты</a>

</nav>
<p id="fp">&copy; DRILLCITY 2022-...</p>
</footer>




</body>

</html>
